{
  "presets": [
    ["es2015", {"loose": true}],
    "stage-2",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-flow-strip-types"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
