@import '~styles/helpers';

.grid {
  composes: pure-g from 'purecss/build/grids.css';
  font-family: inherit;

  [class *= "unit"] {
    font-family: inherit;
  }
}

$paddings: (
  xs: $padding-xs,
  sm: $padding-sm,
  md: $padding-md,
  lg: $padding-lg,
  xl: $padding-xl
);

@each $padding, $size in $paddings {
  .grid-padded-#{$padding} {
    @composes grid;
    margin: 0 #{-$size / 2};

    [class *= "unit"] {
      padding: 0 #{$size / 2};
    }
  }
}
