@import '~styles/helpers';

.grid {
  composes: pure-g from 'purecss/build/grids.css';
  font-family: $font-primary;
}

$gutters: (
  xs: $padding-xs,
  sm: $padding-sm,
  md: $padding-md,
  lg: $padding-lg,
  xl: $padding-xl
);

@each $gutter, $size in $gutters {
  .grid-gutter-#{$gutter} {
    composes: grid;
    margin: #{-$size / 2};
  }
}

.grid-reverse {
  direction: rtl;
}
