$grids: 1, 2, 3, 4, 5, 6, 8, 12, 24;
$breakPoints: 'sm', 'md', 'lg', 'xl';

.unit-1{
  composes: pure-u-1 from 'purecss/build/grids.css';
}

@for $i from 1 through length($grids) {
  $grid: nth($grids, $i);
  @for $width from 1 through $grid {
    @if ($grid % $width != 0) or ($width == 1) {
      .unit-#{$width}-#{$grid} {
        composes: pure-u-#{$width}-#{$grid} from 'purecss/build/grids.css';
      }
      @for $j from 1 through length($breakPoints) {
        $breakPoint: nth($breakPoints, $j);
        .unit-#{$breakPoint}-#{$width}-#{$grid} {
          composes: pure-u-#{$breakPoint}-#{$width}-#{$grid} from 'purecss/build/grids-responsive.css';
        }
      }
    }
  }
}
