@import '~styles/helpers';

$grids: 1, 2, 3, 4, 5, 6, 8, 12, 24;
$breakPoints: 'sm', 'md', 'lg', 'xl';

@for $i from 1 through length($grids) {
  $grid: nth($grids, $i);
  @for $width from 1 through $grid {
    @if ($grid % $width != 0) or ($width == 1) {
      .unit-#{$width}-#{$grid} {
        composes: pure-u-#{$width}-#{$grid} from 'purecss/build/grids.css';
        font-family: $font-primary;
      }
      @for $j from 1 through length($breakPoints) {
        $breakPoint: nth($breakPoints, $j);
        .unit-#{$breakPoint}-#{$width}-#{$grid} {
          composes: pure-u-#{$breakPoint}-#{$width}-#{$grid} from 'purecss/build/grids-responsive.css';
        }
      }
    }
  }
}

$gutters: (
  xs: $padding-xs,
  sm: $padding-sm,
  md: $padding-md,
  lg: $padding-lg,
  xl: $padding-xl
);

@each $gutter, $size in $gutters {
  .unit-gutter-#{$gutter} {
    padding: $size / 2;
  }
}

.unit-reverse {
  direction: ltr;
}
