@keyframes moveBg {
  0%{
    background-position: 0% 50%
  }
  100%{
    background-position: 100% 50%
  }
}

@keyframes fadeInOutDown {
  0% {
    opacity: 0;
    transform: translateY(-$padding-md);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY($padding-md);
  }
}
