$primary: #00ea95;
$secondary: #5500ff;
$success: #67da00;
$warning: #dab100;
$error: #da2700;

$white: #fff;
$gray-lighter: darken($white, 3%);
$gray-light: darken($white, 20%);
$gray: darken($white, 50%);
$gray-dark: darken($white, 70%);
$gray-darker: darken($white, 90%);
$black: #000;

$padding-xs: 5px;
$padding-sm: 10px;
$padding-md: 20px;
$padding-lg: 30px;
$padding-xl: 50px;

$radius: 5px;

$nav-height: 48px;
$menu-width: 200px;

$header-height-xs: 35px;
$header-height-sm: 45px;
$header-height-md: 70px;
$header-height-lg: 90px;
$header-height-xl: 120px;

$xs-min: 'screen and (min-width: 24em)';
$xs-max: 'screen and (max-width: 24em)';
$sm-min: 'screen and (min-width: 35.5em)';
$sm-max: 'screen and (max-width: 35.5em)';
$md-min: 'screen and (min-width: 48em)';
$md-max: 'screen and (max-width: 48em)';
$lg-min: 'screen and (min-width: 64em)';
$lg-max: 'screen and (max-width: 64em)';
$xl-min: 'screen and (min-width: 80em)';
$xl-max: 'screen and (max-width: 80em)';
