@import '~styles/helpers';

.buttons {
  section {
    margin-bottom: 3em;
  }
}

.standalone {
  margin-right: 0.25em;
}

.group {
  display: inline;
}

.button-mixed {
  display: block;
  padding: $padding-md $padding-lg;
  margin-bottom: $padding-xs;
}

.button-img {
  width: 200px;
  margin: $padding-sm auto;
  border-radius: 5px;
}
