@import '~styles/helpers';

.button-group {
  composes: pure-button-group from 'purecss/build/buttons.css';

  .button {
    font-weight: bold;
    min-width: 100%;
    margin-bottom: $padding-sm;
    font-size: 1.3em;
    border-right: 0;
  }
}

.button-img {
  width: 200px;
  margin: $padding-sm auto;
  border-radius: 5px;
}
