@import '~styles/helpers';

.button {
  font-weight: bold;
}

.button-mixed {
  composes: button;
  padding: $padding-md $padding-lg;
}

.button-img {
  width: 200px;
  margin: $padding-sm auto;
  border-radius: 5px;
}
