@import '~styles/helpers';

.page-middle {
  position: relative;
  min-height: 100vh;
  color: $white;
  background-image: linear-gradient(-10deg, $error, $warning);

  > * {
    position: absolute;
    top: 50%;
    left: $padding-md;
    right: $padding-md;
    transform: translateY(-50%);
  }
}

.title {
  position: relative;
  text-align: center;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 25%;
    right: 25%;
    height: $padding-sm / 2;
    background-color: $white;
  }

  @media #{$md-min} {
    text-align: right;
    vertical-align: middle;

    &:after {
      top: 0;
      left: auto;
      right: -$padding-sm / 4;
      height: auto;
      width: $padding-sm / 2;
    }
  }
}

.message {
  text-align: center;
  margin: 1.33em 0;

  span {
    vertical-align: middle;
    display: block;
  }

  @media #{$xs-min} {
    span {
      display: inline;
    }
  }

  @media #{$md-min} {
    text-align: left;
    vertical-align: middle;
  }
}

.emoji {
  font-size: 2em;
  margin-left: 0.5em;
  text-shadow: 0 0 5px rgba($black, 0.2);
}
