@import '~styles/helpers';

.page-middle {
  box-sizing: border-box;
  position: relative;
  min-height: calc(100vh - #{$nav-height + $footer-height + 2 * $padding-lg});

  > * {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
  }
}

.title {
  position: relative;
  text-align: center;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 25%;
    right: 25%;
    height: $padding-sm / 2;
    background-color: $gray-lighter;
  }

  @media #{$md-min} {
    text-align: right;
    vertical-align: middle;

    &:after {
      top: 0;
      left: auto;
      right: -$padding-sm / 4;
      height: auto;
      width: $padding-sm / 2;
    }
  }
}

.message {
  color: $gray-dark;
  text-align: center;

  span {
    vertical-align: middle;
  }

  @media #{$md-min} {
    text-align: left;
    vertical-align: middle;
  }
}

.emoji {
  font-size: 2em;
  margin-left: 0.5em;
}
