@import '~styles/helpers';

.controls {
  display: block;
}

.controlsAligned {
  composes: controls;
  margin: 1.5em 0 0 11em;

  @media #{$md-max} {
    margin: 1.5em 0 0 0;
  }

  > * {
    display: block;
  }
}
