@import '~styles/helpers';

.form {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="week"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  select,
  textarea,
  input:not([type]) {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: none; // 1px solid $gray-light
    box-shadow: none; // inset 0 1px 3px $gray-light;
    border-radius: $radius;
    vertical-align: middle;
    box-sizing: border-box;
    background-color: rgba($white, 0.2);
    transition: background-color 200ms linear;

    @include placeholder {
      color: rgba($white, 0.5);
    }

    &:focus {
      outline: 0;
      // border-color: $primary;
      background-color: rgba($white, 0.3);
    }

    &[disabled] {
      cursor: not-allowed;
      background-color: rgba($gray-dark, 0.2);
    }
  }

  input[type="color"] {
      padding: 0.2em 0.5em;
  }

  input[type="file"],
  input[type="radio"],
  input[type="checkbox"] {
    &:focus {
      outline: thin solid $primary;
      outline: 1px auto $primary;
    }
    &:focus:invalid {
      outline-color: $error;
    }
  }

  input,
  select,
  textarea {
    &[readonly] {
      background-color: rgba($gray, 0.2);
    }
    &:focus:invalid,
    &:focus:invalid,
    &:focus:invalid {
      color: darken(desaturate($error, 25%), 5%);
      border-color: $error;
    }
  }

  select {
    height: 2.25em;

    &[multiple] {
      height: auto;
    }
  }

  label {
    margin: 0.5em 0 0.2em;
  }

  fieldset {
    margin: 0;
    padding: 0.35em 0 0.75em;
    border: 0;
  }

  legend {
    display: block;
    width: 100%;
    padding: 0.3em 0;
    margin-bottom: 0.3em;
    color: $gray-darker;
    border-bottom: 1px solid rgba($white, 0.3);
  }

  @media #{$md-max} {
    button[type="submit"] {
      margin: 0.7em 0 0;
    }

    input:not([type]),
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="url"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="week"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    label {
      margin-bottom: 0.3em;
      display: block;
    }
  }
}

.inline {
  composes: form;

  input,
  select,
  textarea,
  fieldset > * {
    margin-right: 0.25em;
    margin-bottom: 0.25em;
  }
}

.stacked {
  composes: form;

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="week"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  input[type="file"],
  select,
  label,
  textarea,
  input:not([type]) {
      display: block;
      margin: 0.25em 0;
  }
}

.aligned {
  composes: form;
  input,
  textarea,
  select {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
  }

  textarea {
    vertical-align: top;
  }
}
