@import '~styles/helpers';

.form {
  composes: pure-form from 'purecss/build/forms.css';
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="week"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  select,
  textarea {
    border-radius: $radius;

    &:focus {
      border-color: $primary;

      &[required] {
        border-color: $error;
      }
    }

    &[class *= "input"] {
      margin-right: 0;
    }

    &[class *= "input-rounded"] {
      border-radius: 2em;
    }
  }

  fieldset[class *= "group"] {
    input:first-child,
    textarea:first-child {
      border-radius: $radius $radius 0 0;
    }

    input:last-child,
    textarea:last-child {
      border-radius: 0 0 $radius $radius;
    }
  }
}

.form-inline {
  composes: form;

  input,
  select,
  textarea,
  fieldset > * {
    margin-right: 0.25em;
    margin-bottom: 0.25em;
  }
}

.form-stacked {
  composes: form;
  composes: pure-form-stacked from 'purecss/build/forms.css';
}

.form-aligned {
  composes: form;
  composes: pure-form-aligned from 'purecss/build/forms.css';

  [class *= "controls"] > * {
    display: block;
  }
}
