$grids: 1, 2, 3, 4;

@for $i from 1 through length($grids) {
  $grid: nth($grids, $i);
  @for $width from 1 through $grid {
    @if ($grid % $width != 0) or ($width == 1) {
      @if ($grid == 1) and ($width == 1) {
        .input-#{$grid} {
          width: 100%;
        }
      }
      .input-#{$width}-#{$grid} {
        composes: pure-input-#{$width}-#{$grid} from 'purecss/build/forms.css';
      }
    }
  }
}

.input-rounded {
  composes: pure-input-rounded from 'purecss/build/forms.css';
}
