html, body, :global(#root) {
  height: 100%;
}

body {
  background-color: #fcfcfc;
  color: #222;
  font-family: 'Courier New', Courier, monospace;
  text-size-adjust: none;
}

a {
  color: #00ea95;
  text-decoration: none;
}
