@import '~styles/helpers';
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro:600|Source+Code+Pro:900');
@import 'purecss/build/base.css';

html, body, :global(#root) {
  min-height: 100%;
}

body {
  background-color: $white;
  font-family: 'Open Sans', sans-serif;
  color: $gray-dark;
  text-size-adjust: none;
  font-size: 1.2em;
  line-height: 1.6;
  @media #{$sm-min} {
    font-size: 1.1em;
  }
  @media #{$md-min} {
    font-size: 1em;
  }
}

h1, h2, h3, h4, h5 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
}

p {
  margin: $padding-md 0;
}

a {
  color: $primary;
  text-decoration: none;
  transition: color 100ms linear;

  &:hover,
  &:focus {
    color: darken($primary, 10%)
  }
}

* {
  box-sizing: border-box;
}

blockquote {
  margin: 1em 3em;
  padding: $padding-md $padding-lg;
  border-left: $gray-lighter $padding-sm/2 solid;
  font-style: italic;
}

code {
  display: block;
  padding: $padding-md $padding-lg;
  background-color: $gray-lighter;
}
