@import '~styles/helpers';

html, body, :global(#root) {
  height: 100%;
}

body {
  background-color: $white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: $gray-dark;
  text-size-adjust: none;
  font-size: 1.25em;
  @media #{$md-min} {
    font-size: 1em;
  }
}

p {
  margin: $padding-md 0;
}

a {
  color: $primary;
  text-decoration: none;
}

blockquote {
  margin: 1em 3em;
  padding: $padding-md $padding-lg;
  border-left: $gray-lighter $padding-sm/2 solid;
  font-style: italic;
}

code {
  display: block;
  padding: $padding-md $padding-lg;
  background-color: $gray-lighter;
}
