.app {
  padding: 20px 30px;
}

.buttons {
  list-style-type: none;
  padding-left: 0;
}

.buttons li {
  margin-bottom: 5px;
}

.buttons button {
  font-size: 1.3em;
}

.button-alt {
  background-color: #5500ff
}

.button-alt:disabled {
  background-color: #7431fb
}
