@import url('purecss/build/base.css');

body {
  background-color: #222;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  text-size-adjust: none;
}

a {
  color: #00ea95;
}

.app {
  padding: 20px 30px;
}

.button-group {
  composes: pure-button-group from 'purecss/build/buttons.css';
}

.button-group button {
  min-width: 100%;
  margin-bottom: 5px;
  font-size: 1.3em;
}
