@import '~styles/helpers';

$button-down-height: 80px;

.intro {
  position: relative;
  min-height: calc(100vh - #{2 * $padding-sm + 3 * $padding-xs + $header-height-xs});

  @media #{$xs-min} {
    min-height: calc(100vh - #{2 * $padding-sm + $button-down-height + 4 * $padding-xs + $header-height-sm});
  }

  @media #{$sm-min} {
    min-height: calc(100vh - #{2 * $padding-md + $button-down-height + 4 * $padding-xs + $header-height-md});
  }

  @media #{$md-min} {
    min-height: calc(100vh - #{2 * $padding-lg + $button-down-height + 4 * $padding-xs + $header-height-lg});
  }

  @media #{$lg-min} {
    min-height: calc(100vh - #{2 * $padding-xl + $button-down-height + 4 * $padding-xs + $header-height-xl});
  }
}

.intro-content {
  padding: $padding-lg $padding-md;

  @media #{$xs-min} {
    position: absolute;
    top: 50%;
    left: 7%;
    right: 7%;
    transform: translateY(-50%);
  }

  @media #{$md-min} {
    left: 18%;
    right: 18%;
  }

  @media #{$lg-min} {
    left: 28%;
    right: 28%;
  }
}

.icon-down {
  display: none;

  a {
    display: block;
    height: $button-down-height;
    color: $white;
    font-size: 3em;
    text-align: center;
    transition: background-color 200ms linear;

    svg {
      margin-top: -0.2em;
      animation: fadeInOutDown 2s infinite;
    }
  }

  @media #{$xs-min} {
    display: block;
  }

  a:hover {
    color: $white;
    background-color: rgba($white, 0.5);
    svg {
      animation: none;
    }
  }
}
