@import '~styles/helpers';

.about {
  background-color: $primary;
  background-image: linear-gradient(10deg, $primary, $warning);
}

.work {
  background-color: $secondary;
  background-image: linear-gradient(-10deg, $secondary, $primary);
}

.social {
  background-color: $error;
  background-image: linear-gradient(10deg, $error, $secondary);
}

.contact {
  background-color: $warning;
  background-image: linear-gradient(-10deg, $warning, $error);
}
