@import '~styles/helpers';

.about {
  background-image: url(../../../assets/lappy1.jpg);
  background-size: cover;
  background-position: bottom;

  &:before {
    background-color: $primary;
    background-image: linear-gradient(35deg, $primary, $warning);
  }

  :global {
    .section-content:before {
      background-image: linear-gradient(0deg, $primary, rgba($primary, 0), rgba($warning, 0), $warning);
    }
  }
}

.work {
  background-image: url(../../../assets/lappy2.jpg);
  background-size: cover;
  background-position: bottom;

  &:before {
    background-color: $secondary;
    background-image: linear-gradient(-35deg, $secondary, $primary);
  }

  :global {
    .section-content:before {
      background-image: linear-gradient(0deg, $secondary, rgba($secondary, 0), rgba($primary, 0), $primary);
    }
  }
}

.social {
  background-image: url(../../../assets/lappy3.jpg);
  background-size: cover;
  background-position: left bottom;

  &:before {
    background-color: $error;
    background-image: linear-gradient(35deg, $error, $secondary);
  }

  :global {
    .section-content:before {
      background-image: linear-gradient(0deg, $error, rgba($error, 0), rgba($secondary, 0), $secondary);
    }
  }
}

.contact {
  background-image: url(../../../assets/lappy4.jpg);
  background-size: cover;
  background-position: bottom;

  &:before {
    background-color: $warning;
    background-image: linear-gradient(-35deg, $warning, $error);
  }

  :global {
    .section-content:before {
      background-image: linear-gradient(0deg, $warning, rgba($warning, 0), rgba($error, 0), $error);
    }
  }
}
