@import '~styles/helpers';

.about {
  @include section-bg('../../../assets/bg/lappy1', $warning, $primary, 35deg)
  background-position: bottom;
}

.work {
  @include section-bg('../../../assets/bg/lappy2', $primary, $secondary, -35deg)
  background-position: bottom;
}

.social {
  @include section-bg('../../../assets/bg/lappy3', $secondary, $error, 35deg)
  background-position: left bottom;
}

.contact {
  @include section-bg('../../../assets/bg/lappy4', $error, $warning, -35deg)
  background-position: bottom;
}
