@import '~styles/helpers';

.work {
  background-color: darken($primary, 10%);
  color: $white;

  background: linear-gradient(90deg, darken($primary, 5%), $secondary);
  background-size: 180% 100%;
  animation: moveBg 30s alternate infinite;
}

.work-item {
  &:hover {
    .work-img {
      opacity: 1;
      transform: scale(1.05);
    }
  }
}

.work-img {
  opacity: 0.7;
  transition: opacity 200ms linear, transform 300ms ease(out-back);
}
