@import '~styles/helpers';

.work {
  padding: $padding-md $padding-lg;

  @media #{$sm-max} {
    padding-bottom: $padding-lg !important;
  }

  h2 {
    margin-top: 0;
  }
}

.work-title {
  margin: 0;
}

.work-when {
  margin-top: 0;
  font-size: 0.8em;
  color: rgba($white, 0.7);
}

.work-description {
  > *:first-child {
    margin-top: 0;
  }
}

.work-img {
  border-radius: $radius;
  width: 125px;
  box-shadow: 0 0 5px rgba($black, 0.2);
  margin-bottom: $padding-md;
}

.work-links {
  @media #{$sm-min} {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.work-link {
  transition: background-color 200ms linear;

  &:hover,
  &:focus {
    background-color: rgba($white, 0.2);
  }

  a {
    display: block;
    padding: $padding-md $padding-lg;
  }

  svg {
    color: $white;
    margin-right: 0.2em;
  }

  @media #{$md-min} {
    text-align: center;

    a {
      padding: $padding-md 0;
    }
  }
}
