.button {
  composes: pure-button from 'purecss/build/buttons.css';
  font-weight: bold;
}

.button-primary {
  composes: button;
  composes: pure-button-primary from 'purecss/build/buttons.css';
}

.button-success {
  composes: button;
  background-color: rgb(103, 218, 0);
  color: #fff;
}

.button-warning {
  composes: button;
  background-color: rgb(218, 177, 0);
  color: #fff;
}

.button-error {
  composes: button;
  background-color: rgb(218, 39, 0);
  color: #fff;
}

.button-loading {
  overflow: hidden;
  position: relative;

  &:disabled .label {
    opacity: 0.5;
  }
}

.label {
  display: inline-block;
  position: relative;
  left: 0;
  transition: opacity 300ms linear, left 500ms cubic-bezier(0.680, -0.550, 0.440, 1.000); /* easeInBackEaseOutQuart */
}

.icon {
  position: absolute;
  top: 50%;
  opacity: 0;
  transform: scale(2) translate(-25%, -25%);
  transition: opacity 100ms linear 200ms, transform 300ms cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */

  * {
    display: inline-block;
    position: relative;
  }
}

.button-loading-active {
  composes: button-loading;

  &:disabled {
    opacity: 1;
  }

  .label {
    left: -0.75em;
    transition: opacity 300ms linear, left 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275); /* easeOutBack */
  }

  .icon {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
    transition: opacity 100ms linear, transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275); /* easeOutBack */
  }
}

.button-loading-replace {
  .label {
    left: 0;
    transition: opacity 100ms linear 200ms;
  }
  .icon {
    left: 50%;
    * {
      position: relative;
      left: 0em;
    }
  }
  &.button-loading-active .label {
    opacity: 0;
    transition: opacity 100ms linear;
  }
}

.icon-spin {
  animation-duration: 750ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: spin;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
