@import '~styles/helpers';

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: $footer-height;
  font-size: 0.7em;
  background-color: $primary;
  background-image: linear-gradient(1deg, $primary, $warning);
}

.link-code {
  color: $white;
  position: absolute;
  right: $padding-md;
  top: 50%;
  transform: translateY(-50%);
  transition: color 150ms linear, font-size 150ms ease(out-expo);

  &:hover {
    color: $gray-lighter;
    font-size: 1.2em;
  }
}
