@import '~styles/helpers';

.footer {
  position: absolute;
  right: $padding-xs;
  bottom: 0;
  left: 0;
  height: $footer-height;
  text-align: right;
}

.container {
  max-width: 80em;
  margin: 0 auto;
}

.bug {
  display: inline-block;
  color: rgba($white, 0.7);
  transform-origin: center right;
  transition: color 200ms linear, transform 300ms ease(out-expo);

  i {
    display: inline-block;
    transform: rotate(315deg);
  }

  &:hover,
  &:focus {
    color: $white;
    transform: scale(1.5);
  }
}
