@import '~styles/helpers';

.layout {
  min-height: 100%;
  position: relative;
  left: 0;
  transition: left 300ms ease(out-expo);

  @media #{$md-min} {
    left: $menu-width;
    margin-right: $menu-width;
  }
}

.overlay {
  position: fixed;
  top: $nav-height;
  left: $menu-width;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba( $black, 0.5 );
  pointer-events: none;
  z-index: 500;
  opacity: 0;
  transition: opacity 300ms linear;
}

.layout.menu-active {
  left: $menu-width;
  .overlay {
    pointer-events: inherit;
    opacity: 1;
  }
}

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity 300ms linear 200ms;
}

.leave {
  position: absolute;
  top: $nav-height + $padding-lg;
  left: $padding-md;
  right: $padding-md;
  bottom: $footer-height + $padding-lg;
  opacity: 1;
}

.leaveActive {
  opacity: 0;
  transition: opacity 300ms linear,;
}
