@import '~styles/helpers';

.layout {
  box-sizing: border-box;
  padding: $nav-height 0 $footer-height;
  min-height: 100%;
  position: relative;
  left: 0;
  transition: left 300ms ease(out-expo);

  @media #{$md-min} {
    left: $menu-width;
    margin-right: $menu-width;
  }
}

.heading-link {
  composes: pure-menu-link from 'purecss/build/menus.css';
  border: none;
  width: 100%;
  height: 100%;
  padding: 0;
  color: $white;
  background-color: $primary;
  transition: background-color 100ms linear, color 100ms linear;

  &:hover,
  &:focus {
    background-color: darken($primary, 10%);
  }

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.menu-heading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  background-color: $primary;
  height: $nav-height;
  padding: 0;
}

.menu-brand {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: left 300ms ease(out-expo);
}

.menu-toggle {
  composes: menu-brand;
  left: 0;
  right: auto;
  width: $nav-height;
  transform: none;
  transition: left 300ms ease(out-expo);

  @media #{$md-min} {
    left: 100%;
  }

  .heading-link {
    left: 50%;
  }
}

.content {
  padding: $padding-lg $padding-md;
}

.overlay {
  position: fixed;
  top: $nav-height;
  left: $menu-width;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba( $black, 0.5 );
  pointer-events: none;
  z-index: 500;
  opacity: 0;
  transition: opacity 300ms linear;
}

.layout.menu-active {
  left: $menu-width;
  .menu-brand {
    left: $menu-width;
  }
  .menu-toggle {
    left: $menu-width - $nav-height;
  }
  .overlay {
    pointer-events: inherit;
    opacity: 1;
  }
  @media #{$md-min} {
    .menu-brand {
      left: 0
    }
    .menu-toggle {
      left: 100%
    }
    .overlay {
      pointer-events: none;
      opacity: 0;
    }
  }
}

.enter {
  position: absolute;
  top: $nav-height + $padding-lg;
  left: $padding-md;
  right: $padding-md;
  bottom: $footer-height + $padding-lg;
  opacity: 0;
  transform: translateX(-$menu-width);
}

.enterActive {
  opacity: 1;
  transform: translateX(0);
  transition: all 300ms ease(out-expo) 100ms;
}

.leave {
  opacity: 1;
  transform: translateX(0);
}

.leaveActive {
  opacity: 0;
  transform: translateX($menu-width);
  transition: all 300ms ease(out-expo);
}
