@import '~styles/helpers';

.layout {
  box-sizing: border-box;
  padding: $nav-height 0 $footer-height;
  min-height: 100%;
  position: relative;
  left: 0;
  transition: left 300ms ease(out-expo);

  @media #{$md-min} {
    left: $menu-width;
    margin-right: $menu-width;
  }
}

.overlay {
  position: fixed;
  top: $nav-height;
  left: $menu-width;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba( $black, 0.5 );
  pointer-events: none;
  z-index: 500;
  opacity: 0;
  transition: opacity 300ms linear;
}

.layout.menu-active {
  left: $menu-width;
  .overlay {
    pointer-events: inherit;
    opacity: 1;
  }
  @media #{$md-min} {
    .overlay {
      pointer-events: none;
      opacity: 0;
    }
  }
}

.enter {
  position: absolute;
  top: $nav-height + $padding-lg;
  left: $padding-md;
  right: $padding-md;
  bottom: $footer-height + $padding-lg;
  opacity: 0;
  transform: translateY(-100px);
}

.enterActive {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms linear 200ms, transform 300ms ease(out-quint) 200ms;
}

.leave {
  opacity: 1;
  transform: translateY(0);
}

.leaveActive {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 300ms linear, transform 300ms ease(in-quint);
}
