@import '~styles/helpers';

.nav {
  position: absolute;
}

.menu {
  composes: pure-menu from 'purecss/build/menus.css';
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $menu-width;
  padding-top: $nav-height;
  margin-left: -$menu-width;
  z-index: 900;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: rgba($white, 0.2);
  background-image: linear-gradient(25deg, $warning, $primary, $secondary, $error, $warning);
  background-size: 100% 400%;
  animation: moveBgVertical 120s infinite alternate;
  transition: left 300ms ease(out-expo);
}

.menu-list {
  composes: pure-menu-list from 'purecss/build/menus.css';
}

.menu-item {
  composes: pure-menu-item from 'purecss/build/menus.css';
}

.menu-link {
  composes: pure-menu-link from 'purecss/build/menus.css';
  color: $white;
  border: none;
  padding: 0.7em 0 0.7em 0.7em;
  transition: background-color 100ms linear, color 100ms linear;

  &:hover,
  &:focus {
    color: $white;
    background-color: rgba($white, 0.3);
  }
}

.menu-link-sub {
  font-size: 0.8em;
  padding-left: 1.5em;
}

.menu-link-active {
  composes: menu-link;
  background-color: rgba($white, 0.2);
  color: $white;
}

.menu-toggle {
  position: fixed;
  top: 0;
  left: 0;
  width: $nav-height;
  height: $nav-height;
  font-size: 1.5em;
  color: $white;
  cursor: pointer;
  z-index: 1000;
  transition: left 300ms ease(out-expo), transform 300ms ease(out-expo), background-color 200ms linear, color 100ms linear;

  &:hover,
  &:focus {
    color: $white;
    transform: scale(1.3);
  }

  i {
    position: absolute;
    top: calc(50% - 0.1em);
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.nav-active {
  .menu {
    left: $menu-width;
    box-shadow: 0 0 5px rgba($black, 0.2);
  }
  .menu-toggle {
    left: $menu-width - $nav-height;

    &:hover,
    &:focus {
      background-color: rgba($white, 0.2);
      transform: scale(1);
    }
  }
}

@keyframes moveBgVertical {
  0%{
    background-position: 50% 0%
  }
  100%{
    background-position: 50% 100%
  }
}
