@import '~styles/helpers';

.nav {
  margin-left: -$menu-width;
  width: $menu-width;
  position: fixed;
  top: $nav-height;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background-color: $white;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: left 300ms ease(out-expo);

  @media #{$md-min} {
    background-color: lighten($primary, 50%);
    margin-left: 0;
  }
}

.menu {
  composes: pure-menu from 'purecss/build/menus.css';
  width: $menu-width;
  transition: left 300ms ease(out-expo);
}

.menu-list {
  composes: pure-menu-list from 'purecss/build/menus.css';
}

.menu-item {
  composes: pure-menu-item from 'purecss/build/menus.css';
}

.menu-link {
  composes: pure-menu-link from 'purecss/build/menus.css';
  color: $gray-dark;
  border: none;
  padding: 0.7em 0 0.7em 0.7em;
  transition: background-color 100ms linear, color 100ms linear;

  &:hover,
  &:focus {
    color: $white;
    background-color: $primary;
  }
}

.nav-active {
  composes: nav;
  left: $menu-width;
  @media #{$md-min} {
    left: 0;
  }
}
