@import '~styles/helpers';

.nav {
  position: absolute;
}

.menu {
  composes: pure-menu from 'purecss/build/menus.css';
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $menu-width;
  padding-top: $nav-height;
  margin-left: -$menu-width;
  z-index: 900;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: rgba($white, 0.2);
  background-image: linear-gradient(25deg, $warning, $primary, $secondary, $error, $warning);
  background-size: 100% 400%;
  animation: moveBgVertical 120s infinite alternate;
  transition: left 300ms ease(out-expo);
}

.menu-list {
  composes: pure-menu-list from 'purecss/build/menus.css';
}

.menu-item {
  composes: pure-menu-item from 'purecss/build/menus.css';
}

.menu-link {
  composes: pure-menu-link from 'purecss/build/menus.css';
  position: relative;
  padding: 0.7em 0 0.7em 0.7em;
  border: none;
  color: $white;
  transition: color 100ms linear;

  &:hover,
  &:focus {
    color: $white;
    background-color: transparent;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba($white, 0.2);
    transition: right 500ms ease(out-expo);
  }

  &:hover,
  &:focus {
    &:before {
      right: 0;
    }
  }
}

.menu-link-sub {
  font-size: 0.8em;
  padding-left: 1.5em;
}

.menu-link-active {
  composes: menu-link;
  color: $white;

  &:before {
    right: 0;
    transition: right 500ms ease(out-expo), background-color 200ms linear;
  }

  &:hover,
  &:focus {
    &:before {
      background-color: rgba($white, 0.3);
    }
  }
}

.menu-toggle {
  position: fixed;
  top: 0;
  left: 0;
  width: $nav-height;
  height: $nav-height;
  font-size: 1.5em;
  color: $white;
  cursor: pointer;
  z-index: 1000;
  transition: left 300ms ease(out-expo), background-color 200ms linear;

  &:hover,
  &:focus {
    color: $white;
    .menu-toggle-icon {
      transform: scale(0.8);
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: -50%;
    right: -300%;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    background-image: linear-gradient(160deg, rgba($primary, 0.6), rgba($primary, 0), rgba($primary, 0));
    transition: opacity 100ms linear;
  }
}

.menu-toggle-bg {
  composes: menu-toggle;

  &:before {
    opacity: 1;
  }
}

.menu-toggle-icon {
  transition: transform 300ms ease(out-expo);

  path {
    transition-delay: 150ms;
  }
}

.nav-active {
  .menu {
    left: $menu-width;
    box-shadow: 0 0 2px rgba($black, 0.3);
  }

  .menu-toggle {
    left: $menu-width - $nav-height;

    &:hover,
    &:focus {
      background-color: rgba($white, 0.2);
    }

    &:before {
      opacity: 0;
    }
  }
}

@keyframes moveBgVertical {
  0%{
    background-position: 50% 0%
  }
  100%{
    background-position: 50% 100%
  }
}
