@import '~styles/helpers';

.content {
  padding: $padding-lg $padding-md;
}

.footer {
  opacity: 1;
  transition: opacity 200ms linear 200ms;
}

.footer-hide {
  opacity: 0;
  transition: opacity 200ms linear;
}
