@import '~styles/helpers';

.content {
  position: relative;
  padding: $padding-lg $padding-md $padding-lg + $footer-height;
  min-height: calc(100vh - #{$nav-height});
}

.footer {
  opacity: 1;
  transition: opacity 200ms linear 200ms;
}

.footer-hide {
  opacity: 0;
  transition: opacity 200ms linear;
}
