@import '~styles/helpers';

.section-container {
  position: relative;
  padding: $padding-sm $padding-sm;
  pointer-events: none;

  @media #{$sm-min} {
    padding: $padding-md $padding-md;
  }

  @media #{$md-min} {
    padding: $padding-lg $padding-lg;
  }

  @media #{$lg-min} {
    padding: $padding-xl $padding-xl;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    opacity: 0.75;
    transition: opacity 500ms linear;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 0 rgba($white, 0.2) solid;
    pointer-events: none;
    transition: border-width 300ms ease(out-quart);

    @media #{$md-min} {
      transition-duration: 500ms;
    }
  }

  section {
    padding: $padding-xs;
  }

  :global(.section-content) > *:not(:first-child):not([class *= "grid"]) {
    margin-top: $padding-xs;
  }

  :global(.section-content) > [class *= "grid"] > [class *= "unit"] {
    margin-top: $padding-xs;
  }

  :global(.section-animated),
  :global(.section-animated-bg) {
    height: 100%;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 200ms linear, transform 200ms ease(in-expo);
  }

  :global(.section-animated) {
    color: $white;
  }

  :global(.section-animated-bg) {
    color: $white;
    background-image: linear-gradient(135deg, rgba($white, 0.1), rgba($white, 0.2));
  }

  :global(.section-animated-header) {
    position: relative;
    opacity: 0.5;
    transition: opacity 200ms linear;
    height: $header-height-xs;
    text-align: left;

    h1 {
      margin: 0;
      font-size: 1.9 * $header-height-xs;
      font-weight: 900;
      text-transform: uppercase;
      line-height: $header-height-xs;
      display: inline-block;
      color: $white;
      background: -webkit-linear-gradient(45deg, $white, rgba($white, 0.3));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    @media #{$sm-min} {
      height: $header-height-sm;

      h1 {
        font-size: 1.9 * $header-height-sm;
        line-height: $header-height-sm;
      }
    }

    @media #{$md-min} {
      height: $header-height-md;

      h1 {
        font-size: 1.9 * $header-height-md;
        line-height: $header-height-md;
      }
    }

    @media #{$lg-min} {
      height: $header-height-lg;

      h1 {
        font-size: 1.9 * $header-height-lg;
        line-height: $header-height-lg;
      }
    }
  }

  &:nth-child(odd) :global(.section-animated-header) {
    text-align: right;

    h1 {
      background: -webkit-linear-gradient(135deg, $white, rgba($white, 0.3));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

}

.section-container-active {
  composes: section-container;
  pointer-events: auto;

  &:before {
    opacity: 1;
  }

  &:after {
    border-width: $padding-sm;

    @media #{$sm-min} {
      border-width: $padding-md;
    }

    @media #{$md-min} {
      border-width: $padding-lg;
    }

    @media #{$lg-min} {
      border-width: $padding-xl;
    }
  }

  :global(.section-animated),
  :global(.section-animated-bg) {
    opacity: 1;
    transform: scale(1);
    transition: opacity 200ms linear, transform 300ms ease(out-expo);
  }

  :global(.section-animated-header) {
    opacity: 1;
  }
}
