@import '~styles/helpers';

.section-container {
  position: relative;
  padding: $padding-sm / 2 $padding-sm;
  margin-bottom: $padding-sm / 2;
  pointer-events: none;

  @media #{$sm-min} {
    padding: $padding-md / 2 $padding-md;
    margin-bottom: $padding-md / 2;
  }

  @media #{$md-min} {
    padding: $padding-lg / 2 $padding-lg;
    margin-bottom: $padding-lg / 2;
  }

  @media #{$lg-min} {
    padding: $padding-xl / 2 $padding-xl;
    margin-bottom: $padding-xl / 2;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 0 $white solid;
    pointer-events: none;
    transition: border-width 300ms ease(out-quart);

    @media #{$md-min} {
      transition-duration: 500ms;
    }
  }

  section {
    padding: $padding-xs;
  }

  :global(.section-animated),
  :global(.section-animated-bg) {
    opacity: 0;
    transition: opacity 200ms linear;
  }

  :global(.section-animated) {
    color: $white;
  }

  :global(.section-animated-bg) {
    background-color: $white;
  }
}

.section-container-active {
  composes: section-container;
  pointer-events: auto;

  &:before {
    border-width: $padding-sm / 2 $padding-sm;

    @media #{$sm-min} {
      border-width: $padding-md / 2 $padding-md;
    }

    @media #{$md-min} {
      border-width: $padding-lg / 2 $padding-lg;
    }

    @media #{$lg-min} {
      border-width: $padding-xl / 2 $padding-xl;
    }
  }

  :global(.section-animated),
  :global(.section-animated-bg) {
    opacity: 1;
  }
}
