@import '~styles/helpers';

.button {
  composes: pure-button from 'purecss/build/buttons.css';
}

.button-primary {
  composes: button;
  composes: pure-button-primary from 'purecss/build/buttons.css';
  background-color: $primary;
}

.button-secondary {
  composes: button;
  background-color: $secondary;
  color: $white;
}

.button-success {
  composes: button;
  background-color: $success;
  color: $white;
}

.button-warning {
  composes: button;
  background-color: $warning;
  color: $white;
}

.button-error {
  composes: button;
  background-color: $error;
  color: $white;
}

.button-loading {
  overflow: hidden;
  position: relative;

  &:disabled .label {
    opacity: 0.5;
  }
}

.label {
  display: inline-block;
  position: relative;
  left: 0;
  transition: opacity 300ms linear, left 500ms cubic-bezier(0.680, -0.550, 0.440, 1.000); /* easeInBackEaseOutQuart */
}

.icon {
  position: absolute;
  top: 50%;
  opacity: 0;
  transform: scale(2) translate(-25%, -25%);
  transition: opacity 100ms linear 200ms, transform 300ms ease(in-back);

  * {
    display: inline-block;
    position: relative;
  }
}

.button-loading-active {
  composes: button-loading;

  &:disabled {
    opacity: 1;
  }

  .label {
    left: -0.75em;
    transition: opacity 300ms linear, left 500ms ease(out-back);
  }

  .icon {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
    transition: opacity 100ms linear, transform 300ms ease(out-back);
  }
}

.button-loading-replace {
  .label {
    left: 0;
    transition: opacity 100ms linear 200ms;
  }
  .icon {
    left: 50%;
    * {
      position: relative;
      left: 0em;
    }
  }
  &.button-loading-active .label {
    opacity: 0;
    transition: opacity 100ms linear;
  }
}

.icon-spin {
  animation-duration: 750ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: spin;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
