@import '~styles/helpers';

.grid {
  composes: pure-g from 'purecss/build/grids.css';
  font-family: inherit;

  [class *= "unit"] {
    font-family: inherit;
  }
}

$paddings: (
  sm: $padding-sm,
  md: $padding-md,
  lg: $padding-lg
);

@each $padding, $size in $paddings {
  .grid-padded-#{$padding} {
    @composes grid;
    margin: 0 #{-$size};

    [class *= "unit"] {
      box-sizing: border-box;
      padding: 0 $size;
    }
  }
}
